@{
    ViewBag.Title = "About";
}
<h2>Help</h2>

<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    General Help
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
                Here are some quick tips when using this software:
                <ul>
                    <li>Use the navigation bar at the top of the screen to quickly get from page to page.</li>
                    <li>You can use multiple browser tabs to help you look up information.</li>
                    <li>Input fields have been formatted to prevent bad data.</li>
                    <li>Search functions typically use the Names, Emails or Categories of entries.</li>
                    <li>You <strong>CANNOT</strong> delete a Donor, Cause, or Event from the database. You can edit existing ones.</li>
                    <li>You <strong>CANNOT</strong> edit a donation or withdrawal. You must delete and re-input the transaction.</li>
                </ul>
             </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                    Contact Us                 
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
                <ul>
                    <li>Bill Carpenter | carpenter.89@wright.edu | (937) 244-7590</li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
        </div>
    </div>
</div>

