
@{
    ViewBag.Title = "Backup";
}

<h2>Backup Created</h2>

<p>A backup of your database has been created in the following directory...</p>

<h3>C:\Users\Public\TOLDB_Backup</h3>

<h4>If you would like to restore a backup</h4>
    <ul>
        <li>
            Stop the server and stay on this web page.
        </li>
        <li>
            Copy the .mdf file from the above directory you wish to restore
        </li>
        <li>
            Place the copy inside of the following folder - C:\~\TreeOfLifeDB\App_Data
        </li>
        <li>
            Move the TOLDB.mdf file (this is your old database) you wish replace to a safe location on your hardrive.
        </li>
        <li>
            Rename your backup to TOLDB.mdf
        </li>
        <li>
            Restart the server and navigate to a page to check the restored data
        </li>
    </ul>

