@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img id="tolLogo" src="/Content/logo-white.png" />
    <h1>Tree of Life DB</h1>
    <p class="lead">Tree of Life DataBase Software</p>
    <hr />
    <h2>Donations</h2>
    <p>Add new or search existing Donations.</p>
    <p><a href="~/Donation/Index" class="btn btn-primary btn-large">Go To Donations &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Donors</h2>
        <p> Add new or search existing Donors.</p>
        <p><a class="btn btn-primary btn-large" href="~/Donor/Index">Go To Donors &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Causes</h2>
        <p>Add new or search existing Causes.</p>
        <p><a class="btn btn-primary btn-large" href="~/Cause/Index">Go To Causes &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Events</h2>
        <p>Add new or search existing Events.</p>
        <p><a class="btn btn-primary btn-large" href="~/Event/Index">Go To Events &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Withdrawal</h2>
        <p>Make a withdrawal from a Cause fund.</p>
        <p><a class="btn btn-primary btn-large" href="~/Withdrawel/Index">Withdraw &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Help</h2>
        <p>How to use this software.</p>
        <p><a class="btn btn-primary btn-large" href="~/Home/About">Go To Help &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Backup</h2>
        <p>Create a backup of your database.</p>
    <p><a class="btn btn-primary btn-large" href="~/Home/Backup">Create Backup &raquo;</a></p>
</div>
</div>