@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tree of Life DB</h1>
    <p class="lead">Tree of Life DataBase Software</p>
    <p><a href="http://treeoflifeusa.org/" class="btn btn-primary btn-large">Tree of Life Website &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Upload Data</h2>
        <p> Upload new data from excel spreadsheet.</p>
        <p><a class="btn btn-default" href="#">Upload Data &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Add Donations</h2>
        <p>Manually add donation data.</p>
        <p><a class="btn btn-default" href="~/Donators">Add Donations &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>View Data</h2>
        <p>Look up donation information.</p>
        <p><a class="btn btn-default" href="#">View Data &raquo;</a></p>
    </div>
</div>