@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img id="tolLogo" src="/Content/logo-white.png" />
    <h1>Tree of Life DB</h1>
    <p class="lead">Tree of Life DataBase Software</p>
    <hr />
    <h2>Donations</h2>
    <p>Add new or search existing Donations.</p>
    <p><a href="~/Donation/Index" class="btn btn-primary btn-large">Go To Donations &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Donors</h2>
        <p> Add new or search existing Donors.</p>
        <p><a class="btn btn-primary btn-large" href="~/Donor/Index">Go To Donors &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Causes</h2>
        <p>Add new or search existing Causes.</p>
        <p><a class="btn btn-primary btn-large" href="~/Cause/Index">Go To Causes &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Events</h2>
        <p>Add new or search existing Events.</p>
        <p><a class="btn btn-primary btn-large" href="~/Event/Index">Go To Events &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Make a Withdrawel</h2>
        <p>Withdraw from a Fund</p>
        <p><a class="btn btn-primary btn-large" href="~/Withdrawel/Index">Withdraw &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Search</h2>
        <p>Look up database information.</p>
        <p><a class="btn btn-primary btn-large" href="~/Search/Index">Go To Search &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Thank You Letter</h2>
        <p>Manage thank you letters.</p>
        <p><a class="btn btn-primary btn-large" href="~/Thanks/Index">Go To Letters &raquo;</a></p>
    </div>
</div>